<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list>
        <ng-container *ngIf="session | async; let session">
          <ion-note>{{ session.email }}</ion-note>
        </ng-container>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages; let i = index">
          <ion-item
            [routerLink]="page.url"
            routerDirection="forward"
            lines="none"
            detail="false"
            routerLinkActive="selected"
          >
            <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
            <ion-label>{{ page.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="showSignOutConfirmAlert()" lines="none" detail="false">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Sign out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
